.dashboard {
  width: 100%;
  // margin-top: 30px;
  // margin-left: 50px;
}

.dashboard-shadow {
  box-shadow: 4px 4px 15px -5px #000000;
}

.dashboard-balance {  
  margin-top: 4%;
  margin-bottom: 4%;
}

.dashboard-balance-heading {
  color: white;
  text-align: left;
}