.dashboard {
  width: 100%;
  grid-area: "balance-details";
  // margin-top: 30px;
  // margin-left: 50px;
}

.dashboard-shadow {
  box-shadow: 4px 4px 15px -5px #000000;
}

.dashboard-balance {  
  margin-top: 4%;
  margin-bottom: 4%;
}

.dashboard-balance-heading {
  color: white;
  text-align: left;
}

.dashboard-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.dashboard-grid {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 15px;

  @include md {
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "balance-details" "credit-score-container" "diagrams-section" "diagrams-section";
    padding: 0 30px;
  }

  @include lg {
    grid-template-rows: 1fr;
    grid-template-columns: 0.8fr 1fr 1fr;
    grid-template-areas: "balance-details" "credit-score-container" "diagrams-section";
    padding: 0 30px;
  }
}

.dahsboard-credit-score {
  font-weight: 700;
  font-size: 18px;
}

.credit-score-box {
  text-align: left;
  width: 80%;
}

.dashboard-warning {
  display: flex;
  flex-direction: row;
  width: 100%;
  align-items: center;
}

.dashboard-warning-img-container {
  width: 50%;

  svg {
    width: 100%;
    height: auto;
  }
}

.dashboard-warning-text {
  color: white;
  text-align: left;
  padding-left: 20px;
  width: 90%;
}