.grid-dough-notts {
  width: 100%;
  grid-area: "grid-dough-notts";
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.05fr 0.2fr 0.2fr;
  grid-template-areas: 
  "grid-dough-notts-title-container" 
  "block-one" "block-two" 
  "block-three" "block-four";

  & .block-one,
  & .block-two,
  & .block-three,
  & .block-four {
    display: flex;
    width: 80%;
    display: flex;
    flex-direction: column;
  }

  @include md {
    grid-column: span 2;
  }

  @include lg {
    grid-column: auto;
  }
}

.grid-dough-notts-title-container {
  grid-area: grid-dough-notts-title-container;
  grid-column: span 2;
  height: fit-content;
}

.grid-dough-notts,
.grid-dough-notts-title {
  color: white;
}

